<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>WhereToHod?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="https://yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);

function init() {
    // Группы объектов

    let groups = [];
    let item_js;
    {% for group in groups %}
        item_js = [];
        {% for item in group.items %}
            item_js.push({
                name: '{{ item.name }}',
                center: [{{item.coordinate_x}}, {{item.coordinate_y}}],
                description: '{{ item.description }}',
                address: '{{ item.address }}',
                image: '{{ item.image }}'
            });
        {% endfor %}
        groups.push({
            name: '{{ group.name }}',
            preset: '{{ group.preset }}',
            iconGlyph: '{{ group.iconGlyph }}',
            iconGlyphColor: '{{ group.iconGlyphColor }}',
            items: item_js
        });
    {% endfor %}
    // Создание экземпляра карты.
    var myMap = new ymaps.Map('map', {
            center: [59.9386300, 30.3141300],
            zoom: 12,
            controls: ['zoomControl']
        }, {
            searchControlProvider: 'yandex#search'
        }),
        // Контейнер для меню.
        menu = $('<ul class="menu"></ul>');

    for (var i = 0, l = groups.length; i < l; i++) {
        createMenuGroup(groups[i]);
    }

    function createMenuGroup (group) {
        // Пункт меню.
        var menuItem = $('<li><a href="#">' + group.name + '</a></li>'),
        // Коллекция для геообъектов группы.
            collection = new ymaps.GeoObjectCollection(null,
                {
                    preset: group.preset,
                    iconGlyph: group.iconGlyph,
                    iconGlyphColor: group.iconGlyphColor
                }),
        // Контейнер для подменю.
            submenu = $('<ul class="submenu"></ul>');

        // Добавляем коллекцию на карту.
        myMap.geoObjects.add(collection);
        // Добавляем подменю.
        menuItem
            .append(submenu)
            // Добавляем пункт в меню.
            .appendTo(menu)
            // По клику удаляем/добавляем коллекцию на карту и скрываем/отображаем подменю.
            .find('a')
            .bind('click', function () {
                if (collection.getParent()) {
                    myMap.geoObjects.remove(collection);
                    submenu.hide();
                } else {
                    myMap.geoObjects.add(collection);
                    submenu.show();
                }
            });
        for (var j = 0, m = group.items.length; j < m; j++) {
            createSubMenu(group.items[j], collection, submenu);
        }
    }

    function createSubMenu (item, collection, submenu) {
        // Пункт подменю.
        var submenuItem = $('<li><a href="#">' + item.name + '</a></li>'),
        // Создаем метку.
        placemark = new ymaps.Placemark(item.center, {
            // Зададим содержимое заголовка балуна.
            balloonContentHeader: '<div>' + item.name + '<div><br>',
            // Зададим содержимое основной части балуна.
            balloonContentBody:
                '<table class="table table-borderless">' +
                    '<tbody>' +
                        '<tr>' +
                            '<td><span class="description">' + item.description + '</span></td>' +
                            '<td><img src="' + item.image + '" height="100" width="130"></td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td><p class="address">' + item.address +'</p></td>' +
                        '</tr>' +
                    '</tbody>' +
                '</table>'
        });
        // Добавляем метку в коллекцию.
        collection.add(placemark);
        // Добавляем пункт в подменю.
        submenuItem
            .appendTo(submenu)
            // При клике по пункту подменю открываем/закрываем баллун у метки.
            .find('a')
            .bind('click', function () {
                if (!placemark.balloon.isOpen()) {
                    placemark.balloon.open();
                } else {
                    placemark.balloon.close();
                }
                return false;
            });
    }

    // Добавляем меню в тэг BODY.
    menu.appendTo($('body'));
}
    </script>
</head>
<style>

    body {
        background: #F5FFFA;
    }

    th{
        text-align: center;
    }

    .form-group{
        width: 200px;
        margin-left: 2%;
    }

    button{
        margin-left: 2%;
    }

    #map{
        width: 50%;
        margin-left: 1%;
        margin-top: 1%;
        position: absolute;
        left: 1%;
    }
    footer{
        background-color: #d5f7ff;
    }
                /* Оформление меню (начало)*/
    .menu {
            list-style: none;
            padding: 5px;
            position: absolute;
            left: 55%;
            margin-top: 1%;
    }
    .submenu {
        list-style: none;

        margin: 0 0 0 20px;
        padding: 0;
    }
    .submenu li {
        font-size: 90%;
    }
            /* Оформление меню (конец)*/
    .description{
        font-size: 10px;
    }
    .address{
        font-size: 11px;
        font-weight: bold;
        font-style: italic;
    }
    .new_class{
        position: absolute;
        right: 2%;
    }
    .home_better{
        position: absolute;
        top: 20%;
        right: 2%;
    }
</style>
<body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">WhereToHod?</a>
        <div class="new_class" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            {% if log %}
                <li class="nav-item active">
                    {% csrf_token %}
                    <a class="nav-link" href="#">{{log}}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout/">Выйти</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="/sign/">Зарегистрируйтесь</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login/">Войдите</a>
                </li>
            {% endif %}
        </ul>
        </div>
    </nav>

    <form class="form-inline" action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="date" class="form-control" name="data">
        </div>
        <button type="submit" class="btn btn-info">Показать мероприятия на эту дату</button>
    </form>

    <div id="map" style="height: 520px"></div>
    <footer class="page-footer font-small blue fixed-bottom">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="/"> WhereToHod.com</a>
        </div>
    </footer>
</body>

</html>