<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>WhereToHod?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="https://yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<style>

    body {
        background: #F5FFFA;
    }

    .send{
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 10%;
    }

    button{
    }

    footer{
        background-color: #d5f7ff;
    }
    .collapse navbar-collapse{

    }
    .new_class{
        position: absolute;
        right: 2%;
    }
</style>
<body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">WhereToHod?</a>
        <div class="new_class" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/sign/">Зарегистрируйтесь</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login/">Войдите</a>
                </li>
            </ul>
        </div>
    </nav>

    <form action="/login/" method="post" class="send">
        <p style="color: red">{{ message }}</p>
        {% csrf_token %}
        <div class="form-group">
            <h3>Заполните все поля для входа в систему</h3>
            <label for="exampleInputEmail1">Адрес электронной почты</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="user" aria-describedby="emailHelp" placeholder="example@mail.ru" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="pass" placeholder="*********" required>
        </div>
        <button type="submit" class="btn btn-info">Войти</button>
    </form>

    <footer class="page-footer font-small blue fixed-bottom">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="/"> WhereToHod.com</a>
        </div>
    </footer>
</body>

</html>